<div class="container">

    <div class="row">
      <div class="col-8">
        <h5>{{blog_title}}</h5>
      </div>

      <div class="col-4">
      {{blog_date_created}}
      </div>
    </div>
  <br>
  <div class="row">
    {{blog_content}}
  </div>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="comment" type="comment" class="validate">
          <label for="comment">Comment</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn">Save</a>
</form>
  </div>